@import 'keyframes';

.header {
    position: sticky;
    overflow: hidden;
    top: 0;
    background-color: var(--clr-white);
    margin-right: 20px;
    min-width: 100%;
    &__navBar {
        min-height: 90px;
        min-width: 100%;
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 24px;
        .navBranding {
            display: flex;
            .navLogo {
                height: 3.6rem;
            }
            .navHeading {
                display: none;
            }
        }
        .navMenuFirst {
            display: flex;
            align-items: center;
            justify-self: flex-start;
            align-self: center;
            gap: 30px;
            .navItem {
                list-style: none;
                .navLink {
                    text-decoration: none;
                    color: var(--clr-blue);
                }
                .navLink::after {
                    display: block;
                    content: '';
                    border-bottom: solid 1px var(--clr-blue);
                    transform: scaleX(0);  
                    transition: transform 200ms ease-in-out;
                }
                .navLink:hover::after {
                    transform: scaleX(1); 
                }
            }
        }
        .navMenuSecond {
            display: flex;
            align-items: center;
            justify-self: flex-end;
            align-self: center;
            gap: 30px;
            .navItem {
                list-style: none;
                .navLink {
                    text-decoration: none;
                    min-width: 70px;
                    color: var(--clr-blue);
                }
                .navLink::after {
                    display: block;
                    content: '';
                    border-bottom: solid 1px var(--clr-blue);
                    transform: scaleX(0);  
                    transition: transform 200ms ease-in-out;
                }
                .navLink:hover::after {
                    transform: scaleX(1); 
                }
            }
        }
        .hamburgerMenu {
            display: none;
            cursor: pointer;
            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                border-radius: 5px;
                background-color: var(--clr-blue);
            }
        }

        @media only screen and (max-width: 1316px) {
            .navMenuFirst, .navMenuSecond {
                gap: 20px;
            }
        }
        @media only screen and (max-width: 1225px) {
            .navMenuFirst, .navMenuSecond {
                gap: 10px;
            }
        }
        @media only screen and (max-width: 1170px) {
            .navHeading { display: block; }
            .hamburgerMenu { display: block; }
          
           
            .navMenuSecond {
                position: fixed;
                display: flex;
                align-items: center;
                flex-direction: column;
                right: -100%;
                gap: 0;
                top: 5.5rem;
                width: 100%;
                background-color: rgba(#ffffff, 0.97);
                color: var(--clr-blue);
                text-align: center;
                transition: 0.5s;
                .navItem {
                    width: 120px;
                    border-bottom: 1px black solid;
                    .navLink {
                        color: var(--clr-txt);
                    }
                    .navLink:hover::after {
                        transform: scaleX(0); 
                    }
                }
            }
            .hamburgerMenu.active .bar:nth-child(2){
                transform: translateX(-50px);
                opacity: 0;
            }
            .hamburgerMenu.active .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
            .hamburgerMenu.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }
            .navItem {
                margin: 16px 0;
            }
            .navMenuFirst.active {
                left: 0;
            }
            .navMenuSecond.active {
                right: 0;
            }
        }
        @media only screen and (max-width: 910px) {
            .navHeading { display: block; }
            .hamburgerMenu { display: block; }
           
            .navMenuFirst {
                position: fixed;
                display: flex;
                left: -100%;
                gap: 0;
                top: 5.5rem;
                flex-direction: column;
                color: var(--clr-blue);
                width: 100%;
                background-color: rgba(#ffffff, 0.97);
                text-align: center;
                transition: 0.3s;
                .navItem {
                    width: 120px;
                    border-bottom: 1px black solid;
                    .navLink {
                        color: var(--clr-txt);
                    }
                    .navLink:hover::after {
                        transform: scaleX(0); 
                    }
                }
            }
            .navMenuSecond {
                position: fixed;
                display: flex;
                flex-direction: column;
                right: -100%;
                gap: 0;
                top: 25.3rem;
                width: 100%;   
                color: var(--clr-white);
                text-align: center;
                transition: 0.3s;
                .navItem {
                    width: 120px;
                    border-bottom: 1px black solid;
                    .navLink {
                        color: var(--clr-txt);
                    }
                    .navLink:hover::after {
                        transform: scaleX(0); 
                    }
                }
            }
            .hamburgerMenu.active .bar:nth-child(2){
                transform: translateX(-50px);
                opacity: 0;
            }
            .hamburgerMenu.active .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
            .hamburgerMenu.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }
            .navItem {
                margin: 16px 0;
            }
            .navMenuFirst.active {
                left: 0;
                animation: background 20s ease infinite;
            }
            .navMenuSecond.active {
                right: 0;
            }
          
        }
    }
}