@keyframes background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes heading {
    0% {
        color: var(--clr-white);
    }
    70% {
        color: var(--clr-txt);
    }
    90% {
        color: var(--clr-white);
    }
    100% {
        color: var(--clr-white);
    }
}