.mainTimeTracking {
    .showcase {
        background-image: url(../style/images/damir-kopezhanov-nC6CyrVBtkU-unsplash.jpg);
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: rgba(#262626, 0.4);
        background-size: cover;
        background-position: 0% 90%;
        height: 600px;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .heading {
            color: var(--clr-white);
            font-weight: 300;
            text-align: center;
            max-width: 50%;
            font-size: 3rem;
        }
        .mobileHeading {
            display: none;
            color: var(--clr-white);
            font-weight: 300;
            text-align: center;
            width: 80%;
        }
        .linkContainer {
            margin: 20px;
            .link:nth-child(1) {
                text-decoration: none;
                margin: 10px;
                color: var(--clr-txt);
                box-shadow: 0px 0px 10px rgb(255, 255, 255);
                font-weight: 300;
                font-size: 1.1rem;
                background:var(--clr-white);
                background-size: 180% 360;
                padding: 12px 26px;
                margin-top: 20px;
                border-radius: 2px;
            }
            .link:nth-child(2) {
                text-decoration: none;
                margin: 6px;
                color: var(--clr-txt);
                box-shadow: 0px 0px 10px rgb(243, 243, 243);
                background:var(--clr-white);
                font-weight: 300;
                font-size: 1.1rem;
                background-size: 180% 360%;
                padding: 12px 26px;
                margin-top: 20px;
                border-radius: 2px;
            }
        }

        @media (max-width: 700px) {
            .heading {
                font-size: 2rem;
            }
        }
        @media (max-width: 450px) {
            .heading {
                display: none;
            }
            .mobileHeading {
                display: block;
            }
        }
    }
    @media (max-width: 450px) {
        .showcase {
            height: 400px;
        }
    }
}
