@charset "UTF-8";
.mainAccessControl {
  overflow: hidden;
}

.mainAccessControl .showcase {
  background-image: url(../style/images/arbeitszeiterfassung-4312250_1920.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(38, 38, 38, 0.8);
  background-size: cover;
  background-position: 0% 40%;
  height: 600px;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainAccessControl .showcase .heading {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  width: 80%;
  font-size: 3rem;
}

.mainAccessControl .showcase .headingSecond {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  width: 80%;
  font-size: 1.4rem;
}

.mainAccessControl .showcase .mobileHeading {
  display: none;
  color: var(--clr-white);
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
}

@media (max-width: 700px) {
  .mainAccessControl .showcase .heading {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .mainAccessControl .showcase .heading {
    display: none;
  }
  .mainAccessControl .showcase .headingSecond {
    display: none;
  }
  .mainAccessControl .showcase .mobileHeading {
    display: block;
  }
}

@media (max-width: 450px) {
  .mainAccessControl .showcase {
    height: 400px;
    background-position: 50% 50%;
  }
}

.mainAccessControl .textBoxFirst {
  margin: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainAccessControl .textBoxFirst .heading {
  background: rgba(0, 127, 190, 0.8);
  padding: 20px;
  color: var(--clr-white);
  font-weight: 400;
  font-size: 2.6rem;
}

.mainAccessControl .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.mainAccessControl .imgBox img {
  width: 300px;
  margin: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.mainAccessControl .textBox {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainAccessControl .textBox .heading {
  font-size: 2.8rem;
}

.mainAccessControl .textBox .text {
  margin: 20px;
  font-size: 1.6rem;
}

.mainAccessControl .textBox .contact {
  font-size: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
  text-decoration: none;
  background: rgba(0, 127, 190, 0.8);
  border-radius: 200px;
  width: 200px;
  padding: 20px;
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainAccessControl .textBox .contact i {
  font-size: 2rem;
  color: var(--clr-white);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.mainAccessControl .textBox .contact span {
  margin: 0px 10px;
  font-weight: 400;
}

.mainAccessControl .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
  gap: 50px;
  width: 100%;
}

.mainAccessControl .container .textBox {
  width: 30%;
}

.mainAccessControl .container .textBox .heading {
  font-size: 1.8rem;
  font-weight: 900;
}

.mainAccessControl .container .textBox .text {
  font-size: 1.2rem;
  text-align: justify;
}

.mainAccessControl .container img:nth-child(1) {
  width: 30%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainAccessControl .container img:nth-child(2) {
  width: 30%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 40%;
     object-position: 0 40%;
}

.mainAlarmSystem {
  overflow: hidden;
}

.mainAlarmSystem .showcase {
  background-image: url(../style/img/einbrecher.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(38, 38, 38, 0.8);
  background-size: cover;
  background-position: 0% 20%;
  height: 600px;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainAlarmSystem .showcase .heading {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  width: 80%;
  font-size: 3rem;
}

.mainAlarmSystem .showcase .headingSecond {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  width: 80%;
  font-size: 1.4rem;
}

.mainAlarmSystem .showcase .mobileHeading {
  display: none;
  color: var(--clr-white);
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
}

@media (max-width: 700px) {
  .mainAlarmSystem .showcase .heading {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .mainAlarmSystem .showcase .heading {
    display: none;
  }
  .mainAlarmSystem .showcase .headingSecond {
    display: none;
  }
  .mainAlarmSystem .showcase .mobileHeading {
    display: block;
  }
}

@media (max-width: 450px) {
  .mainAlarmSystem .showcase {
    height: 400px;
    background-position: 50% 50%;
  }
}

.mainAlarmSystem .textBoxFirst {
  margin: 40px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainAlarmSystem .textBoxFirst .heading {
  background: rgba(0, 127, 190, 0.8);
  padding: 20px;
  color: var(--clr-white);
  font-weight: 400;
  font-size: 2.6rem;
}

.mainAlarmSystem .alarmSystemContainer {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 20px;
}

.mainAlarmSystem .alarmSystemContainer img {
  width: 30%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.mainAlarmSystem .alarmSystemContainer .textBox {
  width: 40%;
}

.mainCylinderLock {
  overflow: hidden;
}

.mainCylinderLock .showcase {
  background-image: url(../style/img/haus_schlüssel.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(38, 38, 38, 0.8);
  background-size: cover;
  background-position: 0% 50%;
  height: 600px;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCylinderLock .showcase .heading {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  width: 80%;
  font-size: 3rem;
}

.mainCylinderLock .showcase .headingSecond {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  width: 80%;
  font-size: 1.4rem;
}

.mainCylinderLock .showcase .mobileHeading {
  display: none;
  color: var(--clr-white);
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
}

@media (max-width: 700px) {
  .mainCylinderLock .showcase .heading {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .mainCylinderLock .showcase .heading {
    display: none;
  }
  .mainCylinderLock .showcase .headingSecond {
    display: none;
  }
  .mainCylinderLock .showcase .mobileHeading {
    display: block;
  }
}

@media (max-width: 450px) {
  .mainCylinderLock .showcase {
    height: 400px;
    background-position: 50% 50%;
  }
}

.mainDoorSafety {
  overflow: hidden;
}

.mainDoorSafety .showcase {
  background-image: url(../style/images/door_lock.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(38, 38, 38, 0.8);
  background-size: cover;
  background-position: 0% 50%;
  height: 600px;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainDoorSafety .showcase .heading {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  width: 80%;
  font-size: 3rem;
}

.mainDoorSafety .showcase .headingSecond {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  width: 80%;
  font-size: 1.4rem;
}

.mainDoorSafety .showcase .mobileHeading {
  display: none;
  color: var(--clr-white);
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
}

@media (max-width: 700px) {
  .mainDoorSafety .showcase .heading {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .mainDoorSafety .showcase .heading {
    display: none;
  }
  .mainDoorSafety .showcase .headingSecond {
    display: none;
  }
  .mainDoorSafety .showcase .mobileHeading {
    display: block;
  }
}

@media (max-width: 450px) {
  .mainDoorSafety .showcase {
    height: 400px;
    background-position: 50% 50%;
  }
}

.footer {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 127, 190, 0.9);
}

.footer .footerFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  color: var(--clr-white);
}

.footer .footerFirst .aboutUs {
  width: 70%;
}

.footer .footerFirst .aboutUs li {
  margin: 10px;
  margin-top: 20px;
  list-style: none;
}

.footer .footerFirst .aboutUs li h2 {
  font-weight: 800;
  font-size: 1rem;
}

.footer .footerFirst .aboutUs li a {
  color: var(--clr-white);
  text-decoration: none;
}

.footer .footerFirst .service {
  width: 70%;
}

.footer .footerFirst .service li {
  margin: 10px;
  margin-top: 20px;
  list-style: none;
}

.footer .footerFirst .service li h2 {
  font-weight: 800;
  font-size: 1rem;
}

.footer .footerFirst .service li a {
  color: var(--clr-white);
  text-decoration: none;
}

.footer .footerFirst .shipment {
  width: 70%;
}

.footer .footerFirst .shipment li {
  margin: 10px;
  margin-top: 20px;
  list-style: none;
}

.footer .footerFirst .shipment li h2 {
  font-weight: 800;
  font-size: 1rem;
}

.footer .footerFirst .shipment li a {
  color: var(--clr-white);
  text-decoration: none;
}

.footer .cut {
  height: 1px;
  margin: 0.7rem 0;
  width: 100vw;
  -webkit-box-shadow: 0px 0px 4px 0px var(--clr-shadow);
          box-shadow: 0px 0px 4px 0px var(--clr-shadow);
  background-color: rgba(20, 20, 20, 0.6);
}

.footer .footerSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footerSecond .socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.footer .footerSecond .socialMediaIcons li {
  list-style: none;
}

.footer .footerSecond .socialMediaIcons li a {
  font-size: 2rem;
  color: var(--clr-white);
}

.footer .footerSecond .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footerSecond .copyright .copyrightSecu h2 {
  margin: 10px;
  text-align: center;
  font-size: 1rem;
  color: var(--clr-white);
}

.footer .footerSecond .copyright .impDiscDat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.footer .footerSecond .copyright .impDiscDat li {
  list-style: none;
}

.footer .footerSecond .copyright .impDiscDat li a {
  text-decoration: none;
  color: var(--clr-white);
}

@media (max-width: 320px) {
  .footer .footerSecond .copyright .copyrightSecu h2 {
    font-size: 0.8rem;
  }
  .footer .footerSecond .copyright .impDiscDat {
    gap: 0px;
  }
  .footer .footerSecond .copyright .impDiscDat li {
    margin: 2px;
  }
  .footer .footerSecond .copyright .impDiscDat li a {
    font-size: 0.8rem;
  }
}

@media (min-width: 750px) {
  .footer {
    height: 400px;
  }
  .footer .footerFirst {
    margin-left: 0%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 2%;
    gap: 16%;
  }
  .footer .footerFirst .aboutUs {
    width: auto;
  }
  .footer .footerFirst .service {
    width: auto;
  }
  .footer .footerFirst .shipment {
    width: auto;
  }
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes heading {
  0% {
    color: var(--clr-white);
  }
  70% {
    color: var(--clr-txt);
  }
  90% {
    color: var(--clr-white);
  }
  100% {
    color: var(--clr-white);
  }
}

@keyframes heading {
  0% {
    color: var(--clr-white);
  }
  70% {
    color: var(--clr-txt);
  }
  90% {
    color: var(--clr-white);
  }
  100% {
    color: var(--clr-white);
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  top: 0;
  background-color: var(--clr-white);
  margin-right: 20px;
  min-width: 100%;
}

.header__navBar {
  min-height: 90px;
  min-width: 100%;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 24px;
}

.header__navBar .navBranding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navBar .navBranding .navLogo {
  height: 3.6rem;
}

.header__navBar .navBranding .navHeading {
  display: none;
}

.header__navBar .navMenuFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 30px;
}

.header__navBar .navMenuFirst .navItem {
  list-style: none;
}

.header__navBar .navMenuFirst .navItem .navLink {
  text-decoration: none;
  color: var(--clr-blue);
}

.header__navBar .navMenuFirst .navItem .navLink::after {
  display: block;
  content: '';
  border-bottom: solid 1px var(--clr-blue);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.header__navBar .navMenuFirst .navItem .navLink:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__navBar .navMenuSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 30px;
}

.header__navBar .navMenuSecond .navItem {
  list-style: none;
}

.header__navBar .navMenuSecond .navItem .navLink {
  text-decoration: none;
  min-width: 70px;
  color: var(--clr-blue);
}

.header__navBar .navMenuSecond .navItem .navLink::after {
  display: block;
  content: '';
  border-bottom: solid 1px var(--clr-blue);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.header__navBar .navMenuSecond .navItem .navLink:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__navBar .hamburgerMenu {
  display: none;
  cursor: pointer;
}

.header__navBar .hamburgerMenu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  background-color: var(--clr-blue);
}

@media only screen and (max-width: 1316px) {
  .header__navBar .navMenuFirst, .header__navBar .navMenuSecond {
    gap: 20px;
  }
}

@media only screen and (max-width: 1225px) {
  .header__navBar .navMenuFirst, .header__navBar .navMenuSecond {
    gap: 10px;
  }
}

@media only screen and (max-width: 1170px) {
  .header__navBar .navHeading {
    display: block;
  }
  .header__navBar .hamburgerMenu {
    display: block;
  }
  .header__navBar .navMenuSecond {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -100%;
    gap: 0;
    top: 5.5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    color: var(--clr-blue);
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__navBar .navMenuSecond .navItem {
    width: 120px;
    border-bottom: 1px black solid;
  }
  .header__navBar .navMenuSecond .navItem .navLink {
    color: var(--clr-txt);
  }
  .header__navBar .navMenuSecond .navItem .navLink:hover::after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .header__navBar .hamburgerMenu.active .bar:nth-child(2) {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  .header__navBar .hamburgerMenu.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .header__navBar .hamburgerMenu.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .header__navBar .navItem {
    margin: 16px 0;
  }
  .header__navBar .navMenuFirst.active {
    left: 0;
  }
  .header__navBar .navMenuSecond.active {
    right: 0;
  }
}

@media only screen and (max-width: 910px) {
  .header__navBar .navHeading {
    display: block;
  }
  .header__navBar .hamburgerMenu {
    display: block;
  }
  .header__navBar .navMenuFirst {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -100%;
    gap: 0;
    top: 5.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: var(--clr-blue);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__navBar .navMenuFirst .navItem {
    width: 120px;
    border-bottom: 1px black solid;
  }
  .header__navBar .navMenuFirst .navItem .navLink {
    color: var(--clr-txt);
  }
  .header__navBar .navMenuFirst .navItem .navLink:hover::after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .header__navBar .navMenuSecond {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -100%;
    gap: 0;
    top: 25.3rem;
    width: 100%;
    color: var(--clr-white);
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__navBar .navMenuSecond .navItem {
    width: 120px;
    border-bottom: 1px black solid;
  }
  .header__navBar .navMenuSecond .navItem .navLink {
    color: var(--clr-txt);
  }
  .header__navBar .navMenuSecond .navItem .navLink:hover::after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .header__navBar .hamburgerMenu.active .bar:nth-child(2) {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  .header__navBar .hamburgerMenu.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .header__navBar .hamburgerMenu.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .header__navBar .navItem {
    margin: 16px 0;
  }
  .header__navBar .navMenuFirst.active {
    left: 0;
    -webkit-animation: background 20s ease infinite;
            animation: background 20s ease infinite;
  }
  .header__navBar .navMenuSecond.active {
    right: 0;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Everything about the grid layout */
  /* Starting with the imageSection, Grid styles ends at this point */
}

.main .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  height: 600px;
  background: linear-gradient(-45deg, var(--clr-orange), var(--clr-white), var(--clr-blue), var(--clr-txt));
  background-size: 180% 400%;
  -webkit-animation: background 20s ease infinite;
          animation: background 20s ease infinite;
}

.main .showcase h2 {
  max-width: 80vw;
}

.main .showcase .heading {
  -webkit-animation: heading 20s ease infinite;
          animation: heading 20s ease infinite;
  text-align: center;
  margin: 12px;
}

.main .showcase .heading .span-time {
  color: var(--clr-blue);
  font-weight: 400;
}

.main .showcase .heading .span-tec {
  color: var(--clr-orange);
}

.main .showcase .mobileHeading {
  display: none;
  font-size: 1.9rem;
  -webkit-animation: heading 20s ease infinite;
          animation: heading 20s ease infinite;
}

.main .showcase .mobileHeading .span-time {
  color: var(--clr-blue);
  font-weight: 400;
}

.main .showcase .mobileHeading .span-tec {
  color: var(--clr-orange);
}

.main .showcase a {
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
  font-weight: 300;
  background: linear-gradient(-45deg, #3370be, #4d9ac0, #007fbe, #5382bb);
  background-size: 180% 360%;
  -webkit-animation: background 8s ease infinite;
          animation: background 8s ease infinite;
  padding: 12px;
  margin-top: 20px;
  border-radius: 2px;
}

.main .showcase a:hover {
  background-color: linear-gradient(-45deg, var(--clr-orange), var(--clr-white), var(--clr-blue), var(--clr-txt));
  -webkit-transition: 300ms;
  transition: 300ms;
  background: linear-gradient(-45deg, #3370be, #5ca5e9, #007fbe, #5382bb);
  -webkit-box-shadow: 0px 0px 10px 2px var(--clr-white);
          box-shadow: 0px 0px 10px 2px var(--clr-white);
  background-size: 180% 360%;
  -webkit-animation: background 5s ease infinite;
          animation: background 5s ease infinite;
  background-color: black;
  color: var(--clr-white);
}

@media only screen and (max-width: 522px) {
  .main .showcase .heading {
    display: none;
  }
  .main .showcase .mobileHeading {
    display: block;
  }
}

@media (max-width: 510px) {
  .main .showcase {
    height: 400px;
  }
}

.main .headingMain {
  margin-top: 1rem;
  text-align: center;
  min-width: 100vw;
  color: var(--clr-blue);
  font-weight: 400;
}

.main .gridContainer {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  margin-top: 0rem;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
      grid-template-areas: "one" "two" "three" "four" "five";
  padding-block: 2rem;
  margin-inline: auto;
}

.main .gridContainer .gridItem {
  border: 1px solid var(--clr-white);
  max-width: 100vw;
  border-radius: 2px;
  -webkit-box-shadow: -1px 1px 10px 1px rgba(0, 127, 190, 0.3);
          box-shadow: -1px 1px 10px 1px rgba(0, 127, 190, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 4px;
}

.main .gridContainer .gridItem .gridHeading {
  font-weight: 400;
  margin: 2px;
  background: transparent;
  color: var(--clr-txt);
}

.main .gridContainer .gridItem .gridLink {
  color: var(--clr-blue);
  margin: 10px;
  text-decoration: none;
}

.main .gridContainer .gridItem .gridLink:hover {
  text-decoration: underline;
}

.main .gridContainer .gridItem .gridImage {
  height: 200px;
  margin: 2px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .gridContainer .gridItem:hover {
  -webkit-box-shadow: -3px 2px 20px 1px rgba(0, 127, 190, 0.6);
          box-shadow: -3px 2px 20px 1px rgba(0, 127, 190, 0.6);
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.main .gridContainer .gridItem:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.main .gridContainer .gridItem:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: two;
}

.main .gridContainer .gridItem:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: three;
}

.main .gridContainer .gridItem:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: four;
}

.main .gridContainer .gridItem:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: five;
}

@media (min-width: 630px) {
  .main .gridContainer {
        grid-template-areas: "one one" "two five" "three five" "four four";
  }
}

@media (min-width: 1050px) {
  .main .gridContainer {
        grid-template-areas: "one one two five" "three four four five";
  }
}

.main .imageContainer {
  height: 500px;
  width: 100vw;
  background-image: url(../style/images/secutimetec-stempeluhren-shop-gebaeude_2700x.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .imageContainer h1 {
  color: var(--clr-white);
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
}

.main .imageContainer a {
  margin-top: 30px;
  text-decoration: none;
  font-size: 1.1rem;
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
  padding: 6px 20px;
  color: var(--clr-txt);
  text-align: center;
  border: 1px solid var(--clr-white);
  border-radius: 2px;
  background-color: var(--clr-white);
}

@media (max-width: 440px) {
  .main .imageContainer {
    background-position: 50% 0%;
  }
}

.main .imageScorpions {
  height: 600px;
  width: 100vw;
  background-image: url(../style/images/scorpionsdesign.png);
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2%;
}

.main .mobileText {
  display: none;
}

@media (max-width: 920px) {
  .main .imageScorpions {
    height: 400px;
    background-image: url(../style/images/HannoverScorpions-Logo-mit-Outline.png);
    margin-bottom: 0;
  }
  .main .mobileText {
    display: block;
    text-align: center;
  }
  .main .mobileText h1 {
    font-weight: 500;
  }
  .main .mobileText p {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 1.6rem;
  }
}

@media (max-width: 660px) {
  .main .imageScorpions {
    height: 400px;
    margin-bottom: 0;
  }
  .main .mobileText {
    display: block;
    text-align: center;
  }
  .main .mobileText h1 {
    font-weight: 500;
  }
  .main .mobileText p {
    font-weight: 100;
    font-size: 1.4rem;
    margin: 10px;
  }
}

@media (max-width: 340px) {
  .main .imageScorpions {
    height: 200px;
    margin-bottom: 0;
  }
  .main .mobileText {
    display: block;
    text-align: center;
  }
  .main .mobileText h1 {
    font-weight: 500;
  }
  .main .mobileText p {
    font-weight: 100;
    font-size: 1.2 rem;
    margin: 10px;
  }
}

@media (max-width: 240px) {
  .main .mobileText p {
    display: none;
  }
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes heading {
  0% {
    color: var(--clr-white);
  }
  70% {
    color: var(--clr-txt);
  }
  90% {
    color: var(--clr-white);
  }
  100% {
    color: var(--clr-white);
  }
}

.mainTimeTracking {
  overflow: hidden;
}

.mainTimeTracking .showcase {
  background-image: url(../style/images/damir-kopezhanov-nC6CyrVBtkU-unsplash.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(38, 38, 38, 0.6);
  background-size: cover;
  background-position: 0% 90%;
  height: 600px;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainTimeTracking .showcase .heading {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  max-width: 50%;
  font-size: 3rem;
}

.mainTimeTracking .showcase .mobileHeading {
  display: none;
  color: var(--clr-white);
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
}

.mainTimeTracking .showcase .linkContainer {
  margin: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.mainTimeTracking .showcase .linkContainer .link:nth-child(1) {
  text-decoration: none;
  text-align: center;
  margin: 10px;
  width: 160px;
  height: 50px;
  color: var(--clr-txt);
  font-weight: 300;
  font-size: 1.1rem;
  background: var(--clr-white);
  border-radius: 2px;
  padding-top: 14px;
}

.mainTimeTracking .showcase .linkContainer .link:nth-child(1) i {
  color: var(--clr-txt);
}

.mainTimeTracking .showcase .linkContainer .link:nth-child(2) {
  text-decoration: none;
  text-align: center;
  margin: 10px;
  width: 160px;
  height: 50px;
  color: var(--clr-txt);
  background: var(--clr-white);
  font-weight: 300;
  font-size: 1.1rem;
  border-radius: 2px;
  padding-top: 14px;
}

.mainTimeTracking .showcase .linkContainer .link:nth-child(2) i {
  color: var(--clr-txt);
}

@media (max-width: 700px) {
  .mainTimeTracking .showcase .heading {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .mainTimeTracking .showcase .heading {
    display: none;
  }
  .mainTimeTracking .showcase .mobileHeading {
    display: block;
  }
  .mainTimeTracking .showcase .linkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 450px) {
  .mainTimeTracking .showcase {
    height: 400px;
  }
}

.mainTimeTracking .novaTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin: 50px;
}

.mainTimeTracking .novaTime .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 160px;
  width: 100%;
}

.mainTimeTracking .novaTime .container .textBox {
  width: 30%;
  text-align: justify;
}

.mainTimeTracking .novaTime .container .textBox .heading {
  font-weight: 900;
  font-size: 2rem;
}

.mainTimeTracking .novaTime .container .textBox .text {
  font-size: 1.4rem;
}

.mainTimeTracking .novaTime .container img {
  height: 400px;
  width: 36%;
  -o-object-fit: contain;
     object-fit: contain;
}

.mainTimeTracking .textBoxFirst {
  margin: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainTimeTracking .textBoxFirst .heading {
  background: rgba(0, 127, 190, 0.8);
  padding: 20px;
  color: var(--clr-white);
  font-weight: 400;
  font-size: 2.6rem;
}

.mainTimeTracking .timeBox {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  gap: 20px;
}

.mainTimeTracking .timeBox .container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 10px 1px var(--clr-shadow);
          box-shadow: 1px 1px 10px 1px var(--clr-shadow);
}

.mainTimeTracking .timeBox .container .heading {
  font-size: 1.9rem;
}

.mainTimeTracking .timeBox .container img {
  width: 80%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.mainTimeTracking .timeBox .container .link {
  background-color: var(--clr-blue);
  padding: 30px;
  border-radius: 100px;
  color: var(--clr-white);
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.mainTimeTracking .timeBox .container .link i {
  font-size: 2rem;
}

.mainTimeTracking .timeBox .container .link:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.mainTimeTracking .timeBox .container:nth-child(1) {
  max-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainTimeTracking .timeBox .container:nth-child(1) .heading {
  font-size: 2rem;
  padding: 10px;
}

.mainTimeTracking .timeBox .container:nth-child(1) .text {
  font-size: 1.6rem;
  padding: 10px;
}

:root {
  --clr-blue: #007fbe;
  --clr-orange: #f39307;
  --clr-white: #fcfeff;
  --clr-txt: #181816;
  --clr-shadow: #7e878b;
  --ff-primary: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--ff-primary);
  font-weight: 300;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */